#main{
    background-color: rgb(226, 221, 221);
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
}

#title{
   color: black;
  
   font-size: 3em;
}

p{
    font-size: 1.5em;
}

#img-div{
    background: white;
    padding: 10px;
    margin: 0
}

#image{
  max-width: 100%;
display: block;
height: auto;
margin: 0 auto;
}

#img-caption{
    margin: 20px 0 15px 0;
    font-size: 1.1rem;
}

#tribute-info{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

h3{
    margin: 50px 0;
    font-size: 1.5rem;
}

#conteudo-list{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{
    font-size: 20px;
    margin-top: 20px;
}
